* { padding: 0; margin: 0; } 
canvas { background: rgb(243, 192, 80); display: block ; margin: 0 auto; }


#mensaje-orientacion {
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border: 2px solid var(--neon-green);
  border-radius: 8px;
  box-shadow: 0 0 10px var(--neon-green);
  max-width: 90%;
  margin: 20px auto;
}