.ciudadan-text {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    fill: rgb(122, 39, 111);
    text-transform: uppercase;
    letter-spacing: 3px;
    z-index: 9999;
    transform: rotate(-90deg) translate(-15px, -5px); /* Ajuste fino */
    transform-origin: center center; /* Ajuste del punto de giro */
    overflow: visible; /* Evita recortes */
}

/* Ajuste del contenedor del texto */
.ciudadan-svg {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 70px;
    height: 70px;
    transform: translate(-50%, -50%);
    z-index: 10;
    pointer-events: none;
    overflow: visible; /* Evita recortes */
}

/* Ajuste del logo */
.ciudadan-container {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    left: 4vw;
    top: 2px;
}


