.cuadro-coordenadas {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    margin-top: -50px;
    position: absolute;
}

.lugar-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.taxis-container {
    padding: 20px; 
    font-Family: Arial, sans-serif;
}


.formulario-pasajero {
    display: flex; /* Cambié flexbox a flex */
    position: relative; /* Necesario para que top funcione */
    top: -40px; /* Mueve el elemento hacia arriba */
    z-index: 10;
}


.trip-title {

    display: none;
}

.pasajero-origen {
    position: relative;
    top: -40px;
}

.pasajero-destino {
    position: relative;
    top: -60px;
    z-index: 1;
}

.pasajero-buscar {
    background-color: rgb(219, 221, 75);
    color: black;
    text-align: center; /* Centra el texto, aunque ya usaremos flex */
    z-index: 1000;
    /* height: 30px; */
    /* width: 50%; /* Puedes poner el ancho que desees */
    margin: 0 auto; /* Centrado horizontal */
    display: flex; /* Activamos flexbox */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    position: relative;
    top: -45px;
    width: 260px;
    height: 33px;
    font-size: 21px; /* Aumenté el tamaño del texto */
    font-weight: 800;
}



.pasajero-mapa {
    position: relative;
    top: -140px;
    width: 100%;
    height: 60vh;
    margin-bottom: 20px;
}


.travel-container {
    background-color: #f5ffba;
    border: 2px solid #ffd700;
    border-radius: 10px;
    padding: 15px;
    width: 100vh;
    max-width: 90%;
    position: relative;
    margin: 20px 0; /* Alineado a la izquierda */
    display: flex;
    flex-direction: column;
    margin: auto;
}
.col {
color:#c1f3a6}

.travel-details {
  font-family: Arial, sans-serif;
  color: #333;
}

.travel-label {
  font-size: 14px;
  font-weight: bold;
}

.travel-info {
  font-size: 14px;
  margin-bottom: 5px;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
}

.travel-price {
  text-align: right;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}

.price-amount {
  font-size: 22px;
  font-weight: bold;
  color: #008000;
}

.travel-distance {
  display: block;
  font-size: 12px;
  color: #c18a00;
}

.travel-time {
  display: block;
  font-size: 12px;
  font-style: italic;
  color: #555;
}

.change-button, .accept-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.change-button {
  background-color: #ffeb3b;
  color: #000;
}

.accept-button {
  background-color: #4caf50;
  color: #fff;
}

.edit-icon, .plus-icon {
  margin-right: 5px;
}

.accept-button:hover {
  background-color: #388e3c;
}

.change-button:hover {
  background-color: #fdd835;
}

 
  .travel-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  
  .travel-info-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .travel-row {
    display: flex;
    align-items: start;
  }
  
  .travel-label {
    font-size: 14px;
    font-weight: bold;
    width: 50px; /* Asegura que "De" y "A" estén alineados */
  }
  
  .travel-info {
    font-size: 14px;
    flex: 1;
  }
  
  .travel-price {
    text-align: right;
    font-family: Arial, sans-serif;
    min-width: 150px;
  }
  
  .price-amount {
    font-size: 22px;
    font-weight: bold;
    color: #008000;
    display: block;
  }
  
  .travel-distance {
    font-size: 12px;
    color: #c18a00;
  }
  
  .travel-time {
    font-size: 12px;
    font-style: italic;
    color: #555;
  }
  

  .travel-buttons {
    position: absolute;
    bottom: -10px;
    left: 25%; /* Más cargado al centro */
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  
  .change-button, .accept-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .change-button {
    background-color: #ffeb3b;
    color: #000;
  }
  
  .accept-button {
    background-color: #4caf50;
    color: #fff;
  }
  
  .edit-icon, .plus-icon {
    margin-right: 5px;
  }
  
  .accept-button:hover {
    background-color: #388e3c;
  }
  
  .change-button:hover {
    background-color: #fdd835;
  }
  
/*   .taxis-map {
    margin-top: 20px;
    width: 100%;
    height: 250px;
  } */
  


  html, body {
    height: 100%; /* Asegura que el body pueda crecer */
    overflow-y:scroll; /* Permite hacer scroll en toda la página */
  }
  
  .conductor-layout {
    display: flex;
    flex-direction: column; /* Asegura que las tarjetas se acumulen arriba y el mapa se mantenga debajo */
    min-height: 100vh; /* Permite que la página crezca más allá del viewport */
  }
  
  .travel-list {
    width: 100%; /* Asegura que ocupe todo el ancho */
    padding: 10px;
  }
  
  .taxis-map {
    width: 100%;
    height: 400px; /* Tamaño fijo para que siempre sea visible si bajas */
  }

  .taxis-map {
    margin-top: 20px;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
  }
   
  

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Permite scroll en la página cuando hay muchas tarjetas */
  }
  
  .conductor-container {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Permite que el contenedor crezca más allá del viewport */
  }
  
  .travel-list-container {
    flex-grow: 1;
    overflow-y: scroll; /* Permite que el contenido crezca sin restricciones */
    padding: 10px;
  }
  
  .taxis-map {
    position: relative; /* Hace que el mapa siempre esté en la parte inferior */
    bottom: 0;
    width: 100%;
    height: 60vh;
  }
  

  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .close-button:hover {
    background-color: darkred;
  }
  
  .creciente {
    height: 100%;
    overflow-y: auto;
  }


  .esperando-viaje {
    position: absolute;
    bottom: 10%;
    right: 5%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 350px;
    padding: 20px;
    background-color: #fff200; /* Amarillo del logo */
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Para tablet y pantallas grandes: centramos el cuadro */
  @media (min-width: 768px) {
    .esperando-viaje {
      bottom: auto;
      right: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  .esperando-viaje-icon {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  .esperando-viaje-clock-circle {
    stroke: #A5D6A7; /* Verde clarito */
  }
  
  .esperando-viaje-clock-line {
    stroke: #A5D6A7; /* Verde clarito */
  }
  
  .esperando-viaje-alert {
    background-color: #A5D6A7; /* Verde clarito */
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  






  .map-animation-wrapper {
    position: relative;
    width: 100%;
    height: 100%; /* Ajusta según el espacio que necesites */
    overflow: hidden;
    background-color: #afcf20; /* Color de fondo base */
  }
  
  /* Fondo con imagen de mapa */
  .map-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-image: url("https://via.placeholder.com/1600x900?text=Mapa+de+Stock");
    background-position: center;
    background-size: cover;
    z-index: 1;
  }
  
  /* Contenedor SVG de shapes */
  .map-svg {
    position: absolute;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  /* Ícono de taxi que viaja horizontalmente */
  .taxi-icon {
    position: absolute;
    bottom: 40px; /* Ajusta según prefieras */
    left: 0;
    font-size: 2rem;
    z-index: 3;
  }
  



  .invitador-paper {
    position: "absolute";
    z-index: 3;
    text-align: "center";
    border-radius: "10px";
    padding: "20px";
    background-color: "rgba(255, 255, 255, 0.65)"; 
  }

  .conoces-taxi {
    color: rgb(92, 8, 57);
  }

  .ct1   {
    margin-top: 13px;
  }